@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: rgb(10, 29, 29);
  background-image: url(fotokelas.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
}

.welcome h1 {
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.forum form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  justify-content: space-around;
}

.forum input {
  margin: 10px;
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: none;
}

.forum select {
  margin: 10px;
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: none;
}

.forum button {
  margin: 10px;
  width: 300px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #105661;
  color: white;
  cursor: pointer;
}

.forum button:hover {
  background-color: #45a049;
}
