@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Syne+Tactile&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: rgb(226, 247, 247);
}

.header-section {
  position: fixed;
  width: 100%;
  border: 1px solid black;
  background-color: #282f3a;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 1;
}
.icon {
  position: fixed;
  width: 100%;

  height: 60px;
  display: flex;
  align-items: center;
}

.nav-kanan {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 3;
}

.nav-kanan p {
  color: white;
  margin: 0 10px;
}

.logo img {
  height: 34px;
  margin: 0 10px;
}

.name p {
  color: white;
  margin: 0 10px;
  font-size: 20px;
}
.logo-profil {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  margin: 0 10px;
}

.nav-section {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 235px;
  height: 100vh;
  background-color: #232227;
}
nav {
  margin-top: 50px;
  color: #232227;
}
.nav-link {
  color: white;
}

.main-section {
  padding-left: 265px;
  padding-top: 70px;
}
.header {
  font-family: "Poppins", sans-serif;
  margin-bottom: 70px;
}
h1 {
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 0;
}

h6 {
  color: #bfbfbf;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  display: flex;
  gap: 200px;
}
.contain img {
  display: flex;
  width: 150px;
  height: 230px;
  align-items: flex-start;
  padding: 10px;
  margin-top: 97px;
  margin-right: 450px;
}
.card {
  font-family: "Poppins", sans-serif;
  border: 1px solid #bfbfbf;
  border-radius: 2px;

  justify-content: flex-end;
  background-color: white; /* Menambahkan background putih */
  padding: 20px; /* Menambahkan padding untuk memberi ruang antara border dan konten */
  box-sizing: border-box; /* Memastikan padding tidak mempengaruhi lebar elemen */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 22px 0;

  width: 700px; /* Atur lebar elemen */
  height: 295px; /* Atur tinggi elemen */
}
